<!DOCTYPE html>
<html>
<head>
    <title>QR Code</title>
    <style>
        body {
            background-color: #e8f5e9; /* Light Green */
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
        }
        img {
            margin-top: 20px;
            border: 5px solid #4CAF50;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h2>Scan this QR Code to retrieve your message</h2>
    <img src="{{ qr_code }}" alt="QR Code">

</body>
</html>
